* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
.from {
  padding: 10px;
  background-color: brown;
  width: 200px;
  height: 150px;
}

input {
  padding: 5px;
}
.div2 {
  padding: 3px;
  display: flex;
  gap: 25px;
}

.btn {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  padding: 10px;
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  background-color: blue;
  padding: 50px;
}

.card {
  width: calc(25% - 22.5px);
  height: 150px;
  background-color: red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}
